<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SmartSecurity - One Platform, Many Solutions</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts1/material-icon/css/material-design-iconic-font.min.css')}}">

    <!-- Main css -->
    <!--
    <style>


    body {

      background-image: url("{{ url_for('static',filename='images1/background.jpg')}}");

      }

    </style>

-->

    <link rel="stylesheet" href="{{ url_for('static',filename='css1/style.css')}}">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <img src="{{ url_for('static',filename='images1/logo.png')}}" alt="Logo" style="width:150px;height:120px;" class="center1">
                    <!-- <form method="POST" id="signup-form" class="signup-form"> -->
                        <h2 class="form-title">Welcome to SmartSecurity</h2>
                        <h1 class="form-title">One Platform, Many Solutions!</h1>



                        <form action="/login">
                            <div class="form-group">
                                <input type="submit" name="submit" id="submit" class="form-submit" value="Login"/>
                            </div>
                        </form>

                        <form action="/register">
                            <div class="form-group">
                                <input type="submit" name="submit" id="submit" class="form-submit" value="Create an account"/>
                            </div>
                        </form>



                    <!-- </form> -->
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{{ url_for('static',filename='vendor1/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js1/main.js')}}"></script>



</body>
</html>
