<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SmartSecurity HomePage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

        <link rel="apple-touch-icon" href="{{ url_for('static',filename='apple-touch-icon.png')}}">

        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-theme.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/fontAwesome.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/hero-slider.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/owl-carousel.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/templatemo-style.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/lightbox.css')}}">



        <script src="{{ url_for('static',filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>
    </head>

<body>
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand scroll-top"><em>Smart</em>Security</a>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="scroll-top"><strong>Home</strong></a></li>
                        <li><a href="#" class="scroll-link" data-id="about"><strong>About Us</strong></a></li>
                        <!--<li><a href="#" class="scroll-link" data-id="portfolio">Portfolio</a></li>
                        <li><a href="#" class="scroll-link" data-id="blog">Blog</a></li> -->
                        <li><a href="/user_dashboard"><strong>Dashboard</strong></a></li>
                        <li><a href="#" class="scroll-link" data-id="contact-us"><strong>Contact Us</strong></a></li>
                        <li><a href="/homepage" ><strong>Join Us(Customer)</strong></a></li>
<!--                        <li><a href="/homepage_provider" ><strong>Join Us(Provider)</strong></a></li>-->
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </div>
    <!--/.header-->


    <div class="parallax-content baner-content" id="/home">
        <div class="container">
            <div class="text-content">
                <h2><em>Smart</em> <span>Security</span></h2>
                <h2><em>One Platform</em> <span>Many Solutions</span></h2>
                <div class="primary-white-button">
                    <a href="#" class="scroll-link" data-id="about">Let's Start</a>
                </div>
            </div>
        </div>
    </div>


    <section id="about" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="{{ url_for('static',filename='img/bck/pay2.png')}}" alt="">
                        </div>
                        <h4>CCTV Surveillance Systems</h4>
                        <br>
                        <div class="line-dec"></div>
                        <p>We provide you the best security systems for home and businesses needs. CCTVs allows you to remotely monitor specific areas or locations via video feed from security cameras.</p>
                        <br>

                        <div class="primary-blue-button">
                            <a href="#" >Continue Reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="{{ url_for('static',filename='img/bck/map1.webp')}}" alt="">
                        </div>
                        <h4>Artificial Intelligence Based Solution</h4>
                        <div class="line-dec"></div>
                        <p>We embed AI capabilities in our software to provide you with more intelligent, automated solutions. From machine learning, to computer vision, to (NLP), to forecasting and optimization.</p>
                        <br />

                        <div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="contact-us">Continue Reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="{{ url_for('static',filename='img/bck/chatbot2.webp')}}" alt="">
                        </div>
                        <h4>24/7 Quick Support by our ChatBot</h4>
                        <div class="line-dec"></div>
                        <p>Feel free to talk to us on our mail if you have any kind of question or suggestion. For any SmartSecurity related doubts you can use our chatbot who never sleeps and always does his duty very well                  .</p>
                        <br>
                        <div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="contact-us">Continue Reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="{{ url_for('static',filename='img/bck/icon22.png')}}" alt="">
                        </div>
                        <h4>Video Analytics</h4>
                        <div class="line-dec"></div>
                        <p>Smart Security offers advanced video analytics technology to allow transportation, retail and hospitality sectors for perform detailed analysis of the movement of people. Given any video it will detect anomaly present and will show it.</p>
                        <div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="contact-us">Continue Reading</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--
    <section id="portfolio">
        <div class="content-wrapper">
            <div class="inner-container container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="section-heading">
                            <h4>Our Gallery</h4>
                            <div class="line-dec"></div>
                            <p>In malesuada placerat ligula et bibendum. Aenean eget urna enim. Sed enim ante, bibendum nec dictum ac, gravida ac lectus.</p>
                            <div class="filter-categories">
                                <ul class="project-filter">
                                    <li class="filter" data-filter="all"><span>Show All</span></li>
                                    <li class="filter" data-filter="branding"><span>Branding</span></li>
                                    <li class="filter" data-filter="graphic"><span>Graphic</span></li>
                                    <li class="filter" data-filter="nature"><span>Nature</span></li>
                                    <li class="filter" data-filter="animation"><span>Animation</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="projects-holder-3">
                            <div class="projects-holder">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 project-item mix nature">
                                      <div class="thumb">
                                            <div class="image">
                                                <a href="{{ url_for('static',filename='img/portfolio_big_item_01.jpg')}}" data-lightbox="image-1"><img src="{{ url_for('static',filename='img/portfolio_item_01.jpg')}}"></a>
                                            </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 project-item mix animation">
                                      <div class="thumb">
                                        <div class="image">
                                                <a href="{{ url_for('static',filename='img/portfolio_big_item_02.jpg')}}" data-lightbox="image-1"><img src="img/portfolio_item_02.jpg"></a>
                                            </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 project-item mix branding">
                                      <div class="thumb">
                                            <div class="image">
                                                <a href="{{ url_for('static',filename='img/portfolio_big_item_03.jpg')}}" data-lightbox="image-1"><img src="{{ url_for('static',filename='img/portfolio_item_03.jpg')}}"></a>
                                            </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 project-item mix graphic nature">
                                        <div class="thumb">
                                            <div class="image">
                                                <a href="{{ url_for('static',filename='img/portfolio_big_item_04.jpg')}}" data-lightbox="image-1"><img src="{{ url_for('static',filename='img/portfolio_item_04.jpg')}}"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 project-item mix branding">
                                      <div class="thumb">
                                            <div class="image">
                                                <a href="{{ url_for('static',filename='img/portfolio_big_item_05.jpg')}}" data-lightbox="image-1"><img src="{{ url_for('static',filename='img/portfolio_item_05.jpg')}}"></a>
                                            </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 project-item mix graphic animation">
                                        <div class="thumb">
                                            <div class="image">
                                                <a href="{{ url_for('static',filename='img/portfolio_big_item_06.jpg')}}" data-lightbox="image-1"><img src="{{ url_for('static',filename='img/portfolio_item_06.jpg')}}"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->

    <section id="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div id="owl-testimonials" class="owl-carousel owl-theme">
                      <div class="item">
                          <div class="testimonials-item">
                              <p><strong>“  Be sure with us. SmartSecurity - One platform, Many solutions ”</strong></p>
                              <h4>Sahil Digikar</h4>
                              <span>CEO</span>
                          </div>
                      </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p><strong>“ Thanks for such an amazing service”</strong></p>
                                <h4>John Carter</h4>
                                <span>Customer</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p><strong>“ Easy and friendly UI”</strong></p>
                                <h4>Iron Man</h4>
                                <span>Customer</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p><strong>“ Thanks for such an amazing service”</strong></p>
                                <h4>John Carter</h4>
                                <span>Customer</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p><strong>“ Thanks for such an amazing service”</strong></p>
                                <h4>John Carter</h4>
                                <span>Customer</span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimonials-item">
                                <p><strong>“We not only help you for better exchange but also serve you the top providers.”</strong></p>
                                <h4>Ravi Desai</h4>
                                <span>Customer</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p><strong>“We are not a company, we are family.”</strong></p>
                                <h4>Mriyank Roy</h4>
                                <span>Customer</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p><strong>" We are the best"</strong></p>
                                <h4>Purvesh Patil</h4>
                                <span>Customer</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
<!--
    <div class="tabs-content" id="blog">
        <div class="container">
            <div class="row">
                <div class="wrapper">
                    <div class="col-md-4">
                        <div class="section-heading">
                            <h4>Our Blog Posts</h4>
                            <div class="line-dec"></div>
                            <p>Nam vulputate elementum nulla, sit amet congue ipsum malesuada pretium. Vivamus vel gravida quam.</p>
                            <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                                <li><a href="#tab1" class="active">Nulla eget convallis augue</a></li>
                                <li><a href="#tab2">Quisque ultricies maximus</a></li>
                                <li><a href="#tab3">Sed vel elit et lorem</a></li>
                                <li><a href="#tab4">Vivamus purus neque</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <section id="first-tab-group" class="tabgroup">
                            <div id="tab1">
                                <img src="{{ url_for('static',filename='img/blog_item_01.jpg')}}" alt="">
                                <div class="text-content">
                                    <h4>Nulla eget convallis augue</h4>
                                    <span><a href="#">Digital Marketing</a> / <a href="#">Honey</a> / <a href="#">21 September 2020</a></span>
                                    <p>Donec interdum scelerisque auctor. Nulla id lorem auctor, bibendum lectus elementum, porta felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                </div>
                            </div>
                            <div id="tab2">
                                <img src="{{ url_for('static',filename='img/blog_item_02.jpg')}}" alt="">
                                <div class="text-content">
                                    <h4>Quisque ultricies maximus</h4>
                                    <span><a href="#">Branding</a> / <a href="#">David</a> / <a href="#">24 August 2020</a></span>
                                    <p>Etiam fringilla posuere pretium. Maecenas tempor pellentesque elit in dapibus. Curabitur viverra urna sem, ut sollicitudin sem congue vel. Donec fringilla augue in justo molestie fermentum quis ac mi.</p>
                                </div>
                            </div>
                            <div id="tab3">
                                <img src="{{ url_for('static',filename='img/blog_item_03.jpg')}}" alt="">
                                <div class="text-content">
                                    <h4>Sed vel elit et lorem</h4>
                                    <span><a href="#">Web Design</a> / <a href="#">William</a> / <a href="#">18 July 2020</a></span>
                                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id ipsum porta, dictum sem sed, bibendum quam. Maecenas mattis risus eget orci rhoncus.</p>
                                </div>
                            </div>
                            <div id="tab4">
                                <img src="{{ url_for('static',filename='img/blog_item_04.jpg')}}" alt="">
                                <div class="text-content">
                                    <h4>Vivamus purus neque</h4>
                                    <span><a href="#">E-Commerce</a> / <a href="#">George</a> / <a href="#">14 July 2020</a></span>
                                    <p>Aliquam erat volutpat. Nulla at nunc nec ante rutrum congue id in diam. Nulla at lectus non turpis placerat volutpat lacinia ut mi. Quisque ultricies maximus justo a blandit. Donec sit amet commodo arcu. Sed sit amet iaculis mi, vel fermentum nisi. Morbi dui enim, vestibulum non accumsan ac, tempor non nisl.</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <div id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>Contact Us</h4>
                        <div class="line-dec"></div>
                        <p>If you have any query/problem regarding our site or found any bug please contact us</p>
                        <div class="pop-button">
                            <h4>Send us a message</h4>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="pop">
                        <span>✖</span>




                        <form id="contact" action="/" method="post" >
                            <div class="row">
                                <div class="col-md-12">
                                  <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required/>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required/>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required/></textarea>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Send Message</button>
                                  </fieldset>
                                </div>
                            </div>
                        </form>



                    </div>
                </div>
            </div>


        </div>
    </div>

    <div id="map">
    	<!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
        -->


        <iframe src="https://maps.google.com/maps?q=Skn%20Sinhgad%20Institute%20of%20Technology%20and%20Science&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen></iframe>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="logo">
                        <a class="logo-ft scroll-top" href="#"><em>Smart</em>Security</a>


                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="location">
                        <h4>Location</h4>
                        <ul>

                            <li>SKN Sinhgad Institute of Technology and Science,<br>Pune</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="contact-info">
                        <h4>More Info</h4>
                        <ul>
                            <li><em>Phone</em>: +91-9874563215</li>
                            <li><em>Email</em>: sahildigikar@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="connect-us">
                        <h4>Get Social with us</h4>
                        <ul>
                            <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://gmail.com/"><i class="fa fa-google"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static',filename='js/vendor/jquery-1.11.2.min.js')}}"><\/script>')</script>

    <script src="{{ url_for('static',filename='js/vendor/bootstrap.min.js')}}"></script>

    <script src="{{ url_for('static',filename='js/plugins.js')}}"></script>
    <script src="{{ url_for('static',filename='js/main.js')}}"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        // navigation click actions
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed){
        var offSet = 50;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop:targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function() { }
        };
    }
    </script>
    <!-- <script src="https://account.snatchbot.me/script.js"></script><script>window.sntchChat.Init(143446)</script> -->
 <!-- Start of ChatBot (www.chatbot.com) code -->
<script type="text/javascript">
    window.__be = window.__be || {};
    window.__be.id = "60c78ae2ab6edb00072fd5f6";
    (function() {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
    })();
</script>
<!-- End of ChatBot code -->

</body>
</html>
